@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$text-color: #000;
$primary-color: #4EA379;
$white-color: #fff;

// html {
//     font-size: 62.5%;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Roboto', sans-serif;
    // font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: $text-color;
    &:hover {
        color: blue;
        opacity: 0.8;
    }
}